body {
    overflow: hidden;
}

#TopLeft {
    position: absolute;
    top: 0;
    left: 0;
    background-color: darkorange;
    height:40px;
    width:300px;
}
#Top {
    margin-left: 300px;
    position: absolute;
    top: 0;
    left: 0;
    display: inline;
    width: 100%;
    background-color: gray;
    height: 40px;
}
#left {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    margin-top: 40px;
    width: 300px;
    background-color: gray;
}
#center {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    margin-top: 40px;
    margin-left: 300px;
    width: 100%;
    background-color: lightgray;
    text-align: center;
}
#box {
    position: absolute;
    margin-left: 710px;
    margin-right: auto;
    margin-top: 150px;
    width: 230px;
    border-radius: 5px;
    height: 200px;
    background-color: gray; /* Light gray background color */
    border: 1px solid #808080;
}

#Login_btn {
    padding: 10px 20px;
    margin: 50px auto; /* Center align the buttons horizontally */
    display: block; /* Display buttons as block elements */
    width: 200px; /* Set width for consistency */
    background-color: #333333; /* Dark gray button background color */
    color: #ffffff; /* White text color */
    border: none;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s ease; /* Smooth transition for color change */
}
#SignUp_btn {
    padding: 10px 20px;
    margin: -30px auto; /* Center align the buttons horizontally */
    display: block; /* Display buttons as block elements */
    width: 200px; /* Set width for consistency */
    background-color: #333333; /* Dark gray button background color */
    color: #ffffff; /* White text color */
    border: none;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s ease; /* Smooth transition for color change */
}

    #Login_btn:hover, #SignUp_btn:hover {
        background-color: #555555; /* Slightly lighter gray background color on hover */
    }

    #Login_btn:active, #SignUp_btn:active {
        background-color: #222222; /* Even darker gray background color on click */
    }
    #content{
        position: absolute;
        margin-top: 50px;
        margin-left:100px;
    }




