@page
@model SocietySync.Pages.HomeModel
@{
}

<!DOCTYPE html>
<html>
<head>
    <link rel="stylesheet" href="/css/Index.css" />
    <link rel="stylesheet" href="/css/Home.css" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>
<body>
    <div id="TopLeft">
        <h2 style="color: white; font-weight: 500; padding-left: 120px; margin-top: -1px; padding-top: 5px;"><strong>SMS</strong></h2>
    </div>
    <div id="Top">
        <h2 style="color: white; font-weight: 500; padding-left: 400px; margin-top: -1px; padding-top: 5px;"><strong>SocietySync</strong></h2>
    </div>
    <div id="left">
        <a href="#">
            <img src="/css/image.png" alt="SocietySync" width="300" height="400" />
        </a>
    </div>
    <div id="center">
        <div class="tabs_bar">
            <button style="position: absolute; top: 0px; left: 5px;" class="btn" onclick="#"><span>Home</span></button>
            <button style="position: absolute; top: 0px; left: 150px;" class="btn" onclick="#"><span>Events</span></button>
            <div id="notifications">
                <!-- Dropdown notifications tab -->
                <div style="position: absolute; top: 4px; left: 660px;" class="dropdown">
                    <button class="dropbtn">Notifications</button>
                    <div style="background-color: gray; border-radius: 5px; margin-left: 5px;" class="dropdown-content">
                        <a id="notification_data" href="#">Notification 1</a>
                        <a href="#">Notification 2</a>
                        <a href="#">Notification 3</a>
                    </div>
                </div>
            </div>
            <button style="position: absolute; top: 0px; left: 830px;" class="btn" onclick="#"><span>Log Out</span></button>
        </div>
        <div id="content">
            <div class="event" style="width: 700px; height: 385px; top: 220px; left: 782px; transform: translate(-50%, -50%); position: fixed; border: 4px solid; border-radius: 10px;margin-top:150px">
                <div style="position: absolute; width: 100%; height: 40px; background-color: #333333; top: 0;">
                    <h3 style="color: white; font-weight: bold; text-align: center; margin-top: 7px;">Event</h3>
                    <form method="get">
                        <textarea style="width:650px;height:305px;margin-top:5px;margin-left:-0px;background-color:lightgrey" id="society-data" readonly>@Html.Raw(ViewData["Events_View"]) </textarea>
                    </form>
                </div>
            </div>    
        </div>
</body>
</html>
