@page
@model SocietySync.Pages.SignUpModel
@{
}
<head>
    <link rel="stylesheet" href="/css/SignUp.css" />
    <link rel="stylesheet" href="/css/Index.css" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>
<body>
    <div id="TopLeft">
        <h2 style="color:white;font-weight:500;padding-left:120px;margin-top:-1px;padding-top:5px;"><strong>SMS</strong></h2>
    </div>
    <div id="Top">
        <h2 style="color:white;font-weight:500;padding-left:400px;margin-top:-1px;padding-top:5px;"><strong>SocietySync</strong></h2>
    </div>
    <div id="left">
        <a href="#">
            <img src="/css/image.png" alt="SocietySync" width="300" height="400" />
        </a>
    </div>

    <div id="center">
        <form method="post">
            <div id="Form">
                <div id="Bar">
                    <h1><strong>Sign Up</strong></h1>
                </div>
                <div>
                    <label id="label1" for="username"><b>Roll Number:</b></label>
                    <input type="text" id="rollNumber" name="RollNumber_input" asp-for="RollNumber_input" required style="position: absolute; top: 60px; left: 0; margin-top: 10px; margin-left: 190px;">
                    <span asp-validation-for="RollNumber_input" class="text-danger" style="color: red; font-weight: bold;"></span>
                </div>
                <div>
                    <label style=" position: absolute; top: 0px; left: 0px; font-weight: bold; margin-left: 30px; margin-top: 120px; font-size: 24px; color: darkorange;" for="name"><b>Name:</b></label>
                    <input style="position:absolute;top:0;left0;margin-top:115px;margin-left:-60px;" type="text" id="name" name="Name_input" asp-for="Name_input" required>
                </div>
                <div>
                    <input type="password" id="password" name="Password_input" asp-for="Password_input" required style="position: absolute; top: 150px; left: 0; margin-top: 10px; margin-left: 190px;">
                    <span asp-validation-for="Password_input" class="text-danger" style="color: red; font-weight: bold;"></span>
                    <input type="checkbox" id="ShowPasswordCheckBox" name="PassCheckbox_Input" style="position: absolute; top: 192px; left: 0; margin-top: 10px; margin-left: 190px;" onclick="togglePasswordVisibility('password');">
                    <label style="position: absolute; top: 200px; left: 220px;" for="ShowPasswordCheckBox">Show Password</label>
                </div>

                <div>
                    <input type="password" id="confirmPassword" name="ConfirmPassword_input" asp-for="ConfirmPassword_input" required style="position: absolute; top: 215px; left: 0; margin-top: 10px; margin-left: 190px;">
                    <span asp-validation-for="ConfirmPassword_input" class="text-danger" style="color: red; font-weight: bold;"></span>
                    <input type="checkbox" id="ShowConfirmPasswordCheckBox" style="position: absolute; top: 257px; left: 0; margin-top: 10px; margin-left: 190px;" onclick="togglePasswordVisibility('confirmPassword');">
                    <label style="position: absolute; top: 265px; left: 220px;" for="ShowConfirmPasswordCheckBox">Show Password</label>
                </div>

                <button style="Top:0;Left:0;position: absolute; margin-left: 220px; margin-top: 290px; padding: 8px 20px; font-size: 18px; background-color: darkorange; color: white; border: none; border-radius: 5px; cursor: pointer;" type="submit" style="margin-top: 20px;" id="SignUp_btn2" onclick="#">Sign Up</button>
                <div style="position:absolute;top:0;left0;margin-top:340px;margin-left:120px;">Already have an account? <a href="/Login" style="color: darkorange; text-decoration: underline;">Login now</a></div>
            </div>
            
            <!-- Show Password Check Box Script-->
            <script>
                function togglePasswordVisibility(targetId) {
                    var passwordInput = document.getElementById(targetId);
                    if (passwordInput.type === 'password') {
                        passwordInput.type = 'text';
                    } else {
                        passwordInput.type = 'password';
                    }
                }
            </script>

        </form>

        <div class="tabs_bar">

            <button style="position:absolute;top:0px;left:5px;" class="btn" onclick="location.href='@Url.Page("/Index")'"><span>Home</span></button>

        </div>

    </div>


</body>
