@page
@model SocietySync.Pages.UserProfileModel
@{
}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>User Profile</title>
    <link rel="stylesheet" href="/css/UserProfile.css">
    <link rel="stylesheet" href="/css/Index.css">
</head>
<body>
    <div id="TopLeft">
        <h2 style="color:white;font-weight:500;padding-left:120px;margin-top:-1px;padding-top:5px;"><strong>SMS</strong></h2>
    </div>
    <div id="Top">
        <h2 style="color:white;font-weight:500;padding-left:400px;margin-top:-1px;padding-top:5px;"><strong>SocietySync</strong></h2>
    </div>
    <div id="left">
        <div class="profile-box">
            <div style="background-color:darkorange;height:40px;margin-left:-10px;margin-top:-27px;width:220px;border-color:white;border-radius:4px;">  <h3 style="text-align:center;color:white;font-weight:bold;padding-top:10px;">My Information</h3></div>
            <div class="strip"><p style="text-align:center;padding-top:5px;" id="Name"> @ViewData["Name"]</p> </div>
            <div class="strip"> <p style="text-align:center;padding-top:5px;" id="username" >@ViewData["Username"]</p></div>
            <button id="updateProfileBtn">Update Profile</button>
        </div>
    </div>

    <div id="center">
        <div class="tabs_bar">
            <form method="post">
                <button style="position:absolute;top:0px;left:5px;" class="btn" type="submit" name="page" value="Home"><span>Home</span></button>
                <button style="position:absolute;top:0px;left:150px;" class="btn" type="submit" name="page" value="RegisterSociety"><span>Register a Society</span></button>
                <button style="position:absolute;top:0px;left:370px;" class="btn" type="submit" name="page" value="ApplyMembership"><span>Apply Membership</span></button>
            </form>
            <div id="notifications">
                <!-- Dropdown notifications tab -->
                <div style="position:absolute;top:4px;left:760px;" class="dropdown">
                    <button class="dropbtn">Notifications</button>
                    <div style="background-color:gray;border-radius:5px;margin-left:5px;" class="dropdown-content">
                        <a id="notification_data" href="#">Notification 1</a>
                        <a href="#">Notification 2</a>
                        <a href="#">Notification 3</a>
                    </div>
                </div>
            </div>
        </div>
    </div>

</body>
</html>

